@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

h1 {
    font: 35px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
}

h1 p {
    line-height: 0em;
}

h2 {
    font: 25px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
}

ol,
p {
    font: 12px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #28C7CD;
    text-decoration: none;
}

.main_list {
    font: 20px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
    padding-left: 0px;
    list-style-type: none;
    font-weight: bold;
}

.main_list p {
    line-height: 0em;
}

.main_list li {}

.right_wrapper {
    left: 25%;
    
    position: absolute;
    
    
    text-align: right;
}

.left_wrapper {
    position: absolute;
    
    
    text-align: left;
}

.main_wrapper {
    padding: 10px;
    
    -webkit-columns: 100px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 100px 2;
    /* Firefox */
    columns: 100px 2;
    
    
}
